.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.div_speed {
    float: left;
}

.div_speed_img {
    width: 165px;
    border-radius: 1000px;
    height: 165px;
    margin-top: 16px;
    margin-left: 13px;
}

#speed {
    font-size: 23px;
    margin: 15px;
}

.div_volume {
    float: right;
}

.div_volume_img {
    width: 200px;
    border-radius: 70px;
}

#volume {
    font-size: 23px;
    margin: 15px;
}

h3{
    background-color: rgb(212, 139, 255);
}

.play_button { width: 130px; font-size: 25px;
background-color: rgb(222, 158, 238); }
 canvas { border:5px solid rgb(150, 183, 255); border-radius:20px; }

 